.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #007bff, #00a2ff);
  color: white;
  width: 100%;
  padding: 0;
}

.login-box {
  background: white;
  padding: 0 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: #333;
  animation: fadeIn 0.5s ease-in-out;
}

.login-box h1 {
  margin-bottom: 20px;
  color: #007bff;
  font-size: 2em;
  font-weight: bold;
}

.welcome-text {
  margin-bottom: 20px;
  color: #555;
}

.login-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.input-field {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .login-box {
    width: 90%;
    padding: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
